.ToolBar_default .Login_button {
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ToolBar_default .Login_button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}