.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    border-radius: 24px;
    opacity: 0.9;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
}

.wrapper .form-box-login {
    width: 80%;
    height: auto;
}

.wrapper .form-box-login .login-div {
    width: 100%;
    justify-content: center;
    display: flex;
}

.wrapper .form-box-login h2 {
    font-size: 48px;
    font-style: bold;
    color: var(--text-color);
    padding: 15px;
}

.wrapper .form-box-login .submit-button {
    background-color: var(--text-color);
}

.wrapper .form-box-login .href-text {
    
}

.wrapper .form-box-login .container-button {
    padding: 15px 0px;
    color: var(--text-color);
}