.Wrapper {
    width: 100%;
    height: auto;
}


.Home_Cover_Text {
    position: absolute;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    color: var(--background-color);
    bottom: 40%;
    left: 100px;
}
